* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #ede1c8;
}

@media only screen and (max-width: 768px) {
    header {
        margin: 10px 0 50px 20px;
        flex-direction: column;
        align-items: center;
    }

    .logo-tipo {
        margin: 10px 0 0 0;
    }

    .link-header {
        margin: 10px 0;
    }

    .image, .image-principal {
        width: 100%;
        margin: 0;
    }

    main {
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }

    h1 {
        font-size: 60px;
        line-height: 80px;
    }

    p {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .button-main {
        width: 80%;
        font-size: 24px;
        line-height: 30px;
    }
}


header {
    margin: 10px 0 90px 50px;
    display: flex;
}

.logo-tipo {
    width: 70px;
    height: 60px;
    margin: 10px 80px 0 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

 
.link-header {
    font-weight: 600;
    font-size: 30px;
    line-height: 29px;
    color: #989D9C;
    margin: 20px 25px 0 15px;
    cursor: pointer;
    text-decoration: none;
}

.image {
    width: 500px;
    height: 550px;
    margin-left: 350px;
    display: inline-block;
    
}

main {
    display: inline-block;
    margin-left: 150px;
    width: 500px;
    height: 79px;
}

h1 {
    font-family: 'Righteous', sans-serif;
    font-weight: 900;
    font-size: 90px;
    line-height: 120px;
    color: #464646;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 525px;
    margin-top: 32px;
    margin-bottom: 65px;
    text-align: justify;
}

.button-main {
    background: #ae7138;
    border-radius: 25px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
}

.image-principal {
    display: inline-block;
    margin-left: 200px;
    border: none;
    width: 600px;
    height: 550px;
    
}